body {
  background-color: #d5e1ef;
  font-family: Outfit;
  max-width: 1440px;
}

.container {
  background-color: white;
  display: inline-block;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  max-width: 323px;
}

img {
  width: 288px;
  margin: 15px;
  border-radius: 10px;

}

h1 {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 22px;
  padding-inline: 25px;
  margin-top: 0;
}

p {
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  font-weight: 400;
  opacity: 0.8;
  margin-inline: 30px;
  margin-bottom: 40px;
}